.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;

  &__left {
    display: flex;
    gap: 1.3rem;
    font-size: 1.3rem;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  &__center {
    text-transform: capitalize;
    font-size: 1.1rem;
  }

  &__right {
    display: flex;
    gap: .3rem;
  }
}

@media (max-width: 576px) {
  .footer {
    font-size: 1rem;
   flex-direction: column;
   justify-content: center;
  }

}
