<div class="footer">
  <div class="footer__left">
    <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="['fab', 'square-instagram']"></fa-icon></a>
    <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="['fab', 'facebook']"></fa-icon></a>
    <a href="https://www.tiktok.com/" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="['fab', 'tiktok']"></fa-icon></a>
    <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="['fab', 'twitter']"></fa-icon></a>
  </div>
  <div class="footer__center"><strong>catmia<fa-icon icon="cat"></fa-icon></strong></div>
  <div class="footer__right"><fa-icon [icon]="['far', 'copyright']"></fa-icon>All rights reserved.</div>
</div>
