.page-name {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  color: rgb(39, 71, 90);
  border-bottom: 2px solid rgb(52, 102, 177);

  strong {
    text-transform: uppercase;
    font-size: 1.5rem;
  }

  .left-display {
    display: none;
  }
}

.menu-list {
  display: flex;
  gap: 3rem;
  list-style: none;
  padding-top: .5rem;
  padding-bottom: .5rem;

  .menu-select {
    text-decoration: none;
    color: black;
    text-transform: capitalize;

    .activated {
      font-weight: bold;
      border-bottom: 2px solid rgb(46, 86, 146);
    }
  }

  .right {
    width: 100%;
    display: flex;
    justify-content: end;
  }

  .close {
    color: #fff;
  }
}

.button {
  border: none;
  background-color: transparent;
  color: rgb(39, 71, 90);
  font-size: 2rem;
}

@media (max-width: 576px) {
  .page-name {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    color: rgb(39, 71, 90);
    border-bottom: 2px solid rgb(52, 102, 177);

    strong {
      text-transform: uppercase;
      font-size: 1.5rem;
    }

    .left-display {
      display: block;
      position: absolute;
      left: 1rem;
    }
  }

  .menu-list {
    display: block;
    width: 60%;
    position: fixed;
    z-index: 500;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 2rem 1.5rem;
    background-color: rgb(52, 102, 177);

    .menu-select {
      font-size: 1.2rem;
      color: rgba(255, 255, 255, 0.87);
      line-height: 1.8;

      .activated {
        color: #fff;
        border-bottom: 2px solid #fff;
      }
    }
  }
}
