<div class="page-name">
  <div class="left-display">
    <button class="button" (click)="toggleMenu()"><fa-icon icon="bars"></fa-icon></button>
  </div>
  <strong class="">catmia <fa-icon icon="cat"></fa-icon></strong>
</div>
<nav #menu class="menu">
  <ul class="menu-list" [@openAndClose]="isActive">
    <div class="right">
      <button class="button close" (click)="toggleMenu()"><fa-icon icon="close"></fa-icon></button>
    </div>
    <a (click)="navigateToSection('main', 0)" class="menu-select">
      <li class="menu-item" [class.activated]="activatedLink == 0">home</li>
    </a>
    <a (click)="navigateToSection('services', 1)" class="menu-select">
      <li class="menu-item" [class.activated]="activatedLink == 1">services</li>
    </a>
    <a (click)="navigateToSection('about', 2)" class="menu-select">
      <li cclass="navigateToSection-item" [class.activated]="activatedLink == 2">about us</li>
    </a>
    <a (click)="navigateToSection('feedback', 3)" class="menu-select">
      <li class="menu-item" [class.activated]="activatedLink == 3">feedback</li>
    </a>
    <a (click)="navigateToSection('contact', 4)" class="menu-select">
      <li class="menu-item" [class.activated]="activatedLink == 4">contact</li>
    </a>
  </ul>
</nav>
