<div class="page-name">
  <div class="left-display">
    <button class="button" (click)="toggleMenu()"><fa-icon icon="bars"></fa-icon></button>
  </div>
  <strong class="">catmia <fa-icon icon="cat"></fa-icon></strong>
</div>
<nav class="menu">
  <ul class="menu-list" [@openAndClose]="isActive">
    <div class="right">
      <button class="button close" (click)="toggleMenu()"><fa-icon icon="close"></fa-icon></button>
    </div>
    <a href="#main" class="menu-select">
      <li class="menu-item activated">home</li>
    </a>
    <a href="#services" class="menu-select">
      <li class="menu-item">services</li>
    </a>
    <a href="#about" class="menu-select">
      <li cclass="menu-item">about us</li>
    </a>
    <a href="#feedback" class="menu-select">
      <li class="menu-item">feedback</li>
    </a>
    <a href="#contact" class="menu-select">
      <li class="menu-item">contact</li>
    </a>
  </ul>
</nav>
