<!-- header -->
<div class="header">
  <app-header></app-header>
</div>
<section id="main" class="section main">
  <div class="main-title">
    <h1>Best help for <br><strong>your best friends</strong></h1>
  </div>
  <div class="banner">
    <img src="assets/cat-banner.png" alt="">
  </div>
</section>
<section id="services" class="section services">
  <h4 class="section__title">our services</h4>
  <p class="section__subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  <div class="cards">
    <app-card
      [icon]="'pills'"
      [title]="'Medical tratament for pets'"
      [contentText]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. A eaque consequuntur natus rerum voluptatem! Deleniti vero perferendis, voluptatibus sed ipsam architecto non officiis.'"
    ></app-card>
    <app-card
      [icon]="'heart-pulse'"
      [title]="'Treatment for heart related diseases'"
      [contentText]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. A eaque consequuntur natus rerum voluptatem! Deleniti vero perferendis, voluptatibus sed ipsam architecto non officiis.'"
    ></app-card>
    <app-card
      [icon]="'syringe'"
      [title]="'Vaccination for your lovely pets'"
      [contentText]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. A eaque consequuntur natus rerum voluptatem! Deleniti vero perferendis, voluptatibus sed ipsam architecto non officiis.'"
    ></app-card>
    <app-card
      [icon]="'spray-can-sparkles'"
      [title]="'Grooming & beauty care for pets'"
      [contentText]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. A eaque consequuntur natus rerum voluptatem! Deleniti vero perferendis, voluptatibus sed ipsam architecto non officiis.'"
    ></app-card>
    <app-card
      [icon]="'bone'"
      [title]="'Balanced nutrition in the meal'"
      [contentText]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. A eaque consequuntur natus rerum voluptatem! Deleniti vero perferendis, voluptatibus sed ipsam architecto non officiis.'"
    ></app-card>
    <app-card
      [icon]="'baseball'"
      [title]="'Active and recreational for pets'"
      [contentText]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. A eaque consequuntur natus rerum voluptatem! Deleniti vero perferendis, voluptatibus sed ipsam architecto non officiis.'"
    ></app-card>
  </div>
</section>
<section id="about" class="about">
  <h4 class="about__title">About us in numbers</h4>
  <p class="about__subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam earum, autem, a eos quaerat, impedit tempore inventore consequuntur sunt alias accusantium debitis culpa perferendis totam repellat pariatur beatae corrupti mollitia!</p>
  <ul class="list">
    <li class="list__item">
      <span>54</span>
      <p>member of store</p>
    </li>
    <li class="list__item">
      <span>20,456</span>
      <p>pets served each year</p>
    </li>
    <li class="list__item">
      <span>14</span>
      <p>years in business</p>
    </li>
  </ul>
</section>
<section id="feedback" class="section feedback">
  <h4 class="section__title">feedback</h4>
  <div class="feedback__content">
    <p-carousel [value]="depoiments" [autoplayInterval]="3000" [circular]="true">
      <ng-template let-depoiment pTemplate="item" >
          <div class="carousel__content">
            <div class="carousel__content-left">
              <img [src]="depoiment.image" alt="" class="carousel__content-image">
            </div>
            <div class="carousel__content-right">
              <p class="carousel__text">"{{depoiment.content}}"</p>
              <ul class="carousel__list">
                <li *ngFor="let star of stars; let i = index" class="carousel__item" [ngClass]="{'text-yellow': i < depoiment.vote}">
                  <fa-icon icon="star" class="fa-xs"></fa-icon>
                </li>
              </ul>
            </div>
          </div>
      </ng-template>
    </p-carousel>
  </div>
</section>
<section id="contact" class="section contact">
  <h4 class="section__title">contact us</h4>
  <div class="contact__content">
    <div class="contact__map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.5242991908644!2d-46.6115693080187!3d-23.58552255156394!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5b4931fee653%3A0x6a2a2528e3fe6253!2sMuseu%20do%20Ipiranga!5e0!3m2!1spt-BR!2sbr!4v1665964535255!5m2!1spt-BR!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div>
      <p class="contact__line"><fa-icon icon="map-location" class="contact__icon"></fa-icon>R. dos Patriotas, 20 - Vila Monumento, São Paulo - SP, 04261-050</p>
      <p class="contact__line"><fa-icon icon="calendar" class="contact__icon"></fa-icon>segunda - sábado</p>
      <p class="contact__line"><fa-icon icon="clock" class="contact__icon"></fa-icon> 08:00 - 17:00</p>
      <p class="contact__line"><fa-icon icon="envelope" class="contact__icon"></fa-icon>catmia@mail.com</p>
      <p class="contact__line"><fa-icon icon="phone" class="contact__icon"></fa-icon>(00)0000-0000</p>
      <div class="contact__center">
        <button class="contact__buttom">Contact us</button>
      </div>
    </div>
  </div>
</section>
<!-- footer -->
<div class="footer">
  <app-footer></app-footer>
</div>
