:host {
  width: 100vh;
  color: rgb(47, 88, 112);
}

.header, .section, .footer {
  padding-left: 7rem;
  padding-right: 7rem;
}

.section {
  &__title {
    color: rgb(39, 71, 90);
    font-size: 1.3rem;
    text-transform: capitalize;
  }

  &__subtitle {
    font-size: .8rem;
  }
}

.header, .main, .footer {
  background-color: rgba(250, 201, 96, 0.829);
}

.main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: url(../../../assets/paw-cat.png);
  background-repeat: no-repeat;
  background-position-x: center;

  .main-title {
    display: flex;
    justify-content: left;
    font-size: 2rem;
    color: rgb(39, 71, 90);

    h1 {
      font-weight: 400;
    }
    strong {
      color: rgb(52, 102, 177);
    }
  }

  .banner {
    transform: scaleX(-1);
  }
}

.services {
  padding-top: 1.5rem;

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

}

.about {
  margin: 1.5rem 7rem 0;
  padding: 3rem;
  text-align: center;
  background-color: rgb(48, 181, 190);
  color: rgb(230, 223, 223);

  &__title {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }

  &__subtitle {
    margin: 0 6rem 1.5rem;
  }

  .list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

    &__item {

      &:nth-child(2) {
        padding: 0 2.5rem;
      }

      &:first-child {
        padding-right: 2.5rem;
        border-right: 2px solid rgb(230, 223, 223);
      }

      &:last-child {
        padding-left: 2.5rem;
        border-left: 2px solid rgb(230, 223, 223);
      }

      span {
        font-size: 2rem;
        font-weight: 600;
      }

      p {
        text-transform: capitalize;
      }
    }
  }
}

.feedback {
  padding-top: 1.5rem;

  &__content {
    padding: 1.5rem 8rem;
  }
}

.carousel {
  &__content {
    margin: 0 2rem;
    display: flex;
    gap: 2rem;

    &-right {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
  }

  &__list{
    display: flex;
    gap: .5rem;
    list-style: none;
  }
}

.text-yellow {
  color: #d39614;
}

.contact {
  &__content {
    display: flex;
    justify-content: left;
    gap: 2rem;
    margin: 1.5rem 0;
  }

  &__line {
    margin-bottom: .3rem;
  }

  &__icon {
    color: rgb(52, 102, 177);
    margin-right: .5rem;
  }

  &__center {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }

  &__buttom {
    background-color: #30b5be;
    color: #ffff;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: .5rem;
    width: 90%;
    padding: .5rem 2rem;
    text-transform: capitalize;
    font-size: 1.2rem;
  }
}
